{% extends 'base.html.twig' %}


{% block head %}

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('CSS/map.css') }}">
        {% endblock %}

{% endblock %}
{% block title %}C'est par où ?{% endblock %}
{% block page_title %} C'est par où ? {% endblock %}

{% block body %}

<div id="background">
    <img id="wallpaper_monks" src="map/wallpaper.jpg"/>
</div>
<main>
        <h2 id="headline">Globalement très loin</h2>
        <p class="margin" style="text-align:center;text-indent:0;">Les pays dans notre ligne de mire sont listés dans l'onglet "Pays". Cela dit, il y a souvent plusieurs étapes à l'intérieur d'un seul pays. <br>Voici l'itinéraire parcouru à ce jour et les prévisions de la suite.</p>
        <div id="responsive_map_container">
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1kTIEFlN5ayn8BYhAR60Jl1ssioUmdHZk" width="640" height="480"></iframe>
        </div>
        <p id="steps_links_title">Les étapes en images</p> <br><br>

        {% for country in itinerary|keys %}
            {% if itinerary[country] is empty %}
            {% else %}
            <p id="steps_links">
                <span>{{ country }}</span><br><br>

                {% for stage in itinerary[country] %}
                {% dump(stage) %}
                    {% if loop.last %}
                        <a href="#"> {{ stage.name }} </a>
                    {% else %}
                        <a href="#"> {{ stage.name }} </a> -
                    {% endif %}
                {% endfor %}

            </p>
            {% endif %}

        {% endfor %}
    </main>

    <section id="stats">
        <h4>
            {{ how_many_days }} jours de voyage
        </h4>
        <h4>27 heures d'avion</h4>
        <h4>76 heures de bus et de train</h4>
        <h4>17542 kilomètres</h4>
    </section>

{% endblock %}


{% block javascripts %}
    <script src="{{ asset('JS/map.js')}}"></script>
{% endblock %}
