{% extends 'base.html.twig' %}


{% block head %}

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('CSS/shots.css') }}" />
        {% endblock %}

{% endblock %}
{% block title %}{{ country }}{% endblock %}
{% block page_title %}  {{ stage.name }}  {% endblock %}

{% block body %}

    <div class="wallpaper">
        <img src="{{ vich_uploader_asset(stage, 'imageFile') }}" />
    </div>

    <main>
        <div class="row near_stage">
        {% if not laststage is empty %}
            {% for last in laststage %}
                <a style="left: 0px;" href="{{ path('shots.content', {country: country, stage: last.name}) }}">{{ last.name }}</a>
            {% endfor %}
        {% endif %}
        {% if not nextstage is empty %}
            {% for next in nextstage %}
                <a style="right: 0px;" href="{{ path('shots.content', {country: country, stage: next.name}) }}">{{ next.name }}</a>
            {% endfor %}
        {% endif %}
        </div>
    {% for shot in shots %}
        <section class="{{ shot.position }} no_margin_sides">
            <div class="frame {{ shot.orientation }} {{ shot.layout }} ">
                <i class="material-icons">close</i>
                <div class="picture">
                    <img src="{{ vich_uploader_asset(shot, 'imageFile')  }}" alt="{{ shot.alt }}">
                    <p class="picture_title">{{ shot.title }} !</p>
                </div>
                <p class="description">{{ shot.description }}</p>
            </div>
        </section>
    {% endfor %}
        <div class="row near_stage">
        {% if not laststage is empty %}
            {% for last in laststage %}
                <a style="left: 0px;" href="{{ path('shots.content', {country: country, stage: last.name}) }}">{{ last.name }}</a>
            {% endfor %}
        {% endif %}
        {% if not nextstage is empty %}
            {% for next in nextstage %}
                <a style="right: 0px;" href="{{ path('shots.content', {country: country, stage: next.name}) }}">{{ next.name }}</a>
            {% endfor %}
        {% endif %}
        </div>
    </main>

{% endblock %}


{% block javascripts %}
    <script src="{{ asset('JS/shots.js') }}"></script>
{% endblock %}
