{% extends 'base.html.twig' %}


{% block head %}

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('CSS/journal.css') }}">
            <style>
                .loglist_item {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                }
                hr {
                    margin: 15px 0px !important;
                    width: 50% !important;
                    align-self: auto !important;
                }
                .loglist_item p, hr{
                    display: inline-block;
                }
            </style>
        {% endblock %}

{% endblock %}

{% block title %}Journal{% endblock %}
{% block page_title %} Journal {% endblock %}

{% block body %}


    <div class="journal_wallpaper">
        <img src="{{ asset('journal/wallpaper.jpg') }}" />
    </div>
    <main>

        <div id="sections_navigation">
            <h2 class="sections_tab" id="tab_voyage">Billets de voyage</h2>
            <h2 class="sections_tab" id="tab_developpement">Notes de développement</h2>
        </div>
        <div id="sections_container">

            <section id="voyage">
            <div>
                {% for log in last_travel_log %}
                    <hr />
                    <h3> {{ log.title }} </h3>

                    <pre>
                    {{ log.content }}
                    </pre>

                    <pre>
                    {{ log.content2 }}
                    </pre>

                    <p>Publié le {{ log.date|date('d/m/Y') }}</p>
                {% endfor %}
            </div>
            <hr style="margin: 20px 0px; width: 100% !important;"/>
            {% for log in travel_logs %}
                <div class="loglist_item">
                    <h3>
                        <a href="{{ path('journal.show', {id: log.id, slug: log.slug}) }}">
                            {{ log.title }}
                        </a>
                    </h3>
                    <p>
                        {{ log.date|date('d/m/Y') }}
                    </p>
                    <hr />
                </div>
            {% endfor %}
            </section>

            <section id="developpement">
            <div>
            {% for log in last_dev_log %}
                <hr />
                <h3> {{ log.title }} </h3>

                <pre>
                {{ log.content }}
                </pre>

                <pre>
                {{ log.content2 }}
                </pre>

                <p>Publié le {{ log.date|date('d/m/Y') }}</p>
            {% endfor %}
            </div>
            <hr style="margin: 20px 0px; width: 100% !important;"/>
            {% for log in last_dev_log %}
                <div class="loglist_item">
                    <h3>
                        <a href="{{ path('journal.show', {id: log.id, slug: log.slug}) }}">
                            {{ log.title }}
                        </a>
                    </h3>
                    <p>
                        {{ log.date|date('d/m/Y') }}
                    </p>
                    <hr />
                </div>
            {% endfor %}
            </section>

        </div>

    </main>

{% endblock %}


{% block javascripts %}

    <script src="{{ asset('JS/journal.js')}}"></script>
{% endblock %}
