{% extends 'base.html.twig' %}


{% block head %}

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('CSS/journal.css') }}">
        {% endblock %}

{% endblock %}

{% block title %}Journal{% endblock %}
{% block page_title %} Journal {% endblock %}

{% block body %}


    <div class="journal_wallpaper">
        <img src="{{ asset('journal/wallpaper.jpg') }}" />
    </div>
    <main>

        <div id="sections_navigation">
        {% if topic == 'voyage' %}
            <a href="#" class="active_tab sections_tab" id="tab_voyage"><h2>Billets de voyage</h2></a>
            <a href="{{ path('journal.index', {topic: 'developpement'}) }}" class="other_tab sections_tab" id="tab_developpement"><h2>Notes de développement</h2></a>
        {% endif %}
        {% if topic == 'developpement' %}
            <a href="{{ path('journal.index', {topic: 'voyage'}) }}" class="other_tab sections_tab" id="tab_voyage"><h2>Billets de voyage</h2></a>
            <a href="#" class="active_tab sections_tab" id="tab_developpement"><h2>Notes de développement</h2></a>
        {% endif %}
        </div>

        <div id="sections_container">

            <section>
                <div class='last_log_container'>
                {% for log in last_log %}
                    <hr />
                    <h3> {{ log.title }} </h3>

                    <pre>
                    {{ log.content }}
                    </pre>

                    <pre>
                    {{ log.content2 }}
                    </pre>

                    <p>Publié le {{ log.date|date('d/m/Y') }}</p>
                {% endfor %}
                </div>
                <hr style="margin: 20px 0px; width: 100% !important;"/>
                <div class="row">
                {% for log in logs %}

                    <div class="loglist_item_container col-4 mb-col-6">
                        <a href="{{ path('journal.show', {id: log.id, slug: log.slug}) }}">
                            <div class="loglist_item">

                                {% if loop.index != 1 %}
                                <div class="loglist_item_picture" style="background-image:url('')"></div>
                                <h3>
                                    {{ log.title }}
                                </h3>
                                <div style='display: flex; flex-direction: column; margin: 10px 0px -10px 0px;'>
                                    <p class='bonus_text'>
                                        Voir le billet
                                    </p>
                                    <hr />
                                </div>
                                <p style="bottom: 0px; align-self: flex-end;">
                                    {{ log.date|date('d/m/Y') }}
                                </p>

                                {% endif %}
                            </div>
                        </a>
                    </div>

                {% endfor %}
                </div>
                {{ knp_pagination_render(logs) }}
            </section>

        </div>

    </main>

{% endblock %}


{% block javascripts %}

    <script src="{{ asset('JS/journal.js')}}"></script>
{% endblock %}
