{% extends 'base.html.twig' %}


{% block head %}

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('CSS/journal.css') }}">
        {% endblock %}

{% endblock %}

{% block title %}Journal{% endblock %}
{% block page_title %} Journal {% endblock %}

{% block body %}


    <div class="journal_wallpaper">
        <img src="{{ asset('journal/wallpaper.jpg') }}" />
    </div>
    <main>

        <div id="sections_navigation">
        {% if topic == 'voyage' %}
            <a href="#" class="active_tab sections_tab" id="tab_voyage"><h2>Billets de voyage</h2></a>
            <a href="{{ path('journal.index', {topic: 'developpement'}) }}" class="other_tab sections_tab" id="tab_developpement"><h2>Notes de développement</h2></a>
        {% endif %}
        {% if topic == 'developpement' %}
            <a href="{{ path('journal.index', {topic: 'voyage'}) }}" class="other_tab sections_tab" id="tab_voyage"><h2>Billets de voyage</h2></a>
            <a href="#" class="active_tab sections_tab" id="tab_developpement"><h2>Notes de développement</h2></a>
        {% endif %}
        </div>

        <div id="sections_container">

            <section>
                <div class='last_log_container'>
                {% for log in last_log %}
                {% if (app.request.query.get("page") == 1) or (app.request.query.get("page") is null) %}
                    <hr />
                    <h3> {{ log.title }} </h3>
                    {% if (log.picturePosition is defined) and (log.picturePosition ==  0) %}
                        {% if (log.filename)|length < 1 %}
                        {% else %}
                                <img class="illustration" src="{{ vich_uploader_asset(log, 'imageFile') }}"/>
                        {% endif %}
                        <pre>
                        {{ log.content }}
                        </pre>
                        <pre>
                        {{ log.content2 }}
                        </pre>
                    {% elseif (log.picturePosition is defined) and (log.picturePosition ==  1) %}
                        <pre>
                        {{ log.content }}
                        </pre>
                        {% if (log.filename)|length < 1 %}
                        {% else %}
                                <img class="illustration" src="{{ vich_uploader_asset(log, 'imageFile') }}"/>
                        {% endif %}
                        <pre>
                        {{ log.content2 }}
                        </pre>
                    {% elseif (log.picturePosition is defined) and (log.picturePosition ==  2) %}
                        <pre>
                        {{ log.content }}
                        </pre>
                        <pre>
                        {{ log.content2 }}
                        </pre>
                        {% if (log.filename)|length < 1 %}
                        {% else %}
                                <img class="illustration" src="{{ vich_uploader_asset(log, 'imageFile') }}"/>
                        {% endif %}
                    {% endif %}

                    <p>Publié le {{ log.date|date('d/m/Y') }}</p>
                {% endif %}
                {% endfor %}
                </div>
                <hr style="margin: 20px 0px; width: 100% !important;"/>
                <div class="row">
                {% for log in logs %}

                    <div class="loglist_item_container col-4 mb-col-6">
                        <a href="{{ path('journal.show', {id: log.id, slug: log.slug}) }}">
                            <div class="loglist_item">
                                {% if (app.request.query.get("page") == 1) or (app.request.query.get("page") is null) %}
                                    {% if loop.index != 1 %}
                                    {% if (log.filename)|length < 1 %}
                                        <div class="loglist_item_picture" style="background-image:url('{{ asset('journal/placeholder.jpg') }}')"></div>
                                    {% else %}
                                        <div class="loglist_item_picture" style="background-image:url('{{vich_uploader_asset(log, 'imageFile') }}')"></div>
                                    {% endif %}
                                    <h3>
                                        {{ log.title }}
                                    </h3>
                                    <div style='display: flex; flex-direction: column; margin: 10px 0px -10px 0px;'>
                                        <p class='bonus_text'>
                                            Voir le billet
                                        </p>
                                        <hr />
                                    </div>
                                    <p style="bottom: 0px; align-self: flex-end;">
                                        {{ log.date|date('d/m/Y') }}
                                    </p>

                                    {% endif %}
                                {% else %}
                                <div class="loglist_item_picture" style="background-image:url('{{ asset('journal/placeholder.jpg') }}')"></div>
                                <h3>
                                    {{ log.title }}
                                </h3>
                                <div style='display: flex; flex-direction: column; margin: 10px 0px -10px 0px;'>
                                    <p class='bonus_text'>
                                        Voir le billet
                                    </p>
                                    <hr />
                                </div>
                                <p style="bottom: 0px; align-self: flex-end;">
                                    {{ log.date|date('d/m/Y') }}
                                </p>
                                {% endif %}
                            </div>
                        </a>
                    </div>

                {% endfor %}
                </div>
                {{ knp_pagination_render(logs) }}
            </section>

        </div>

    </main>

{% endblock %}


{% block javascripts %}
    <script src="{{ asset('JS/pagination.js')}}"></script>
    <script src="{{ asset('JS/journal.js')}}"></script>
{% endblock %}
