{% extends 'base.html.twig' %}


{% block head %}

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('CSS/journal.css') }}">
            <style>
                main{
                    background: #eee;
                    padding-top: 40px;
                    align-items: center;
                }
                h2{
                    font-size: 1.6em;
                    text-transform: uppercase;
                    margin: 10px 0px;
                    text-align: justify;
                    font-weight: 300;
                }
                .show_log{
                    width: 70%;
                }
            </style>
        {% endblock %}

{% endblock %}

{% block title %}Journal{% endblock %}
{% block page_title %} Journal {% endblock %}

{% block body %}


    <div class="journal_wallpaper">
        <img src="{{ asset('journal/wallpaper.jpg') }}" />
    </div>
    <main>
        <div class="show_log">

            <h2> {{ log.title }} </h2>

            {% if (log.picturePosition is defined) and (log.picturePosition ==  0) %}
                <img class="illustration" src="{{ vich_uploader_asset(log, 'imageFile') }}"/>
                <pre>
                {{ log.content }}
                </pre>
                <pre>
                {{ log.content2 }}
                </pre>
            {% elseif (log.picturePosition is defined) and (log.picturePosition ==  1) %}
                <pre>
                {{ log.content }}
                </pre>
                <img class="illustration" src="{{ vich_uploader_asset(log, 'imageFile') }}"/>
                <pre>
                {{ log.content2 }}
                </pre>
            {% elseif (log.picturePosition is defined) and (log.picturePosition ==  2) %}
                <pre>
                {{ log.content }}
                </pre>
                <pre>
                {{ log.content2 }}
                </pre>
                <img class="illustration" src="{{ vich_uploader_asset(log, 'imageFile') }}"/>
            {% endif %}

            <p>Publié le {{ log.date|date('d/m/Y') }}</p>

        </div>
    </main>

{% endblock %}


{% block javascripts %}
    <script src="{{ asset('JS/journal.js')}}"></script>
{% endblock %}
